@page
@model VisitReservation.Pages.DoctorDashboard.HomeModel
@{
    ViewData["Title"] = "Dashboard Doktora";
}

<h2>Dashboard Doktora</h2>

<a asp-page="/DoctorDashboard/DoctorSchedule" class="btn btn-primary">Ustaw swój harmonogram</a>


@if (Model.PastAppointments != null && Model.PastAppointments.Any())
{
    <h3>Historia Wizyt</h3>
    <ul>
        @foreach (var appointment in Model.PastAppointments)
        {
            <li>@appointment.AppointmentDateTime: Pacjent - @appointment.Patient.UserName</li>
        }
    </ul>
}
else
{
    <p>Brak przeszłych wizyt.</p>
}

@if (Model.UpcomingAppointments != null && Model.UpcomingAppointments.Any())
{
    <h3>Nadchodzące Wizyty</h3>
    <ul>
        @foreach (var appointment in Model.UpcomingAppointments)
        {
            <li>
                @appointment.AppointmentDateTime: Pacjent - @appointment.Patient.UserName
                <form method="post" asp-page-handler="CancelAppointment" asp-route-appointmentId="@appointment.AppointmentId">
                    <button type="submit" class="btn btn-danger">Odwołaj</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p>Brak nadchodzących wizyt.</p>
}

@if (Model.PendingAppointments != null && Model.PendingAppointments.Any())
{
    <h3>Wizyty do Zatwierdzenia</h3>
    <ul>
        @foreach (var appointment in Model.PendingAppointments)
        {
            <li>
                @appointment.AppointmentDateTime: Pacjent - @appointment.Patient.UserName
                <form method="post" asp-page-handler="ConfirmAppointment" asp-route-appointmentId="@appointment.AppointmentId">
                    <button type="submit" class="btn btn-primary">Potwierdź</button>
                </form>
            </li>

        }
    </ul>
}
else
{
    <p>Brak wizyt oczekujących na potwierdzenie.</p>
}

@*
    @if (Model.Reviews != null && Model.Reviews.Any())
{
    <h3>Opinie Pacjentów</h3>
    <ul>
        @foreach (var review in Model.Reviews)
        {
            <li>Pacjent: @review.PatientName - Opinia: @review.Text</li>
        }
    </ul>
}
else
{
    <p>Brak opinii.</p>
}
*@
