@page
@model VisitReservation.Pages.BookAppointmentModel

@{
    ViewData["Title"] = "Rezerwacja wizyty";
}

<h2>Rezerwacja wizyty</h2>

@if (Model.SuccessMessage != null)
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<div>
    <h3>Informacje o wizycie:</h3>
    <p>ID Lekarza: @Model.Appointment.DoctorId</p>
    <p>Data: @Model.Appointment.AppointmentDateTime.ToString("yyyy-MM-dd")</p>
    <p>Godzina: @Model.Appointment.AppointmentDateTime.ToString("HH:mm")</p>
</div>