@page
@model VisitReservation.Pages.ViewDoctorScheduleModel

@{
    ViewData["Title"] = $"Harmonogram Lekarza - {Model.DoctorName}";
}

<h2>Harmonogram Lekarza - @Model.DoctorName</h2>

<h3>Dostępne dni:</h3>
<ul>
    @foreach (var day in Model.AvailableDays)
    {
        <li>
            <form method="get" asp-page="/ViewDoctorSchedule">
                <input type="hidden" name="doctorId" value="@Model.DoctorId" />
                <input type="hidden" name="selectedDate" value="@day.ToString("yyyy-MM-dd")" />
                <button type="submit">@day.ToShortDateString()</button>
            </form>
        </li>
    }
</ul>

@if (Model.SelectedDate.HasValue && Model.AvailableTimeSlots != null && Model.AvailableTimeSlots.Any())
{
    <h3>Dostępne godziny w dniu @Model.SelectedDate.Value.ToShortDateString():</h3>
    <ul>
        @foreach (var slot in Model.AvailableTimeSlots)
        {
            <li>
                <form method="post" asp-page-handler="BookAppointment">
                    <input type="hidden" name="DoctorId" value="@Model.DoctorId" />
                    <input type="hidden" name="Date" value="@Model.SelectedDate.Value.ToString("yyyy-MM-dd")" />
                    <input type="hidden" name="Time" value="@slot.StartTime.ToString()" />
                    <button type="submit">Umów wizytę na godzinę @slot.StartTime.ToShortTimeString()</button>
                </form>

            </li>
        }
    </ul>
}
