@page
@model VisitReservation.Pages.PatientDashboard.HomeModel
@{
    ViewData["Title"] = "Dashboard Pacjenta";
}


<h2>Dashboard Pacjenta</h2>

<p>Witaj, @User.Identity.Name</p>

<h3>Historia Wizyt</h3>
@if (Model.PastAppointments.Any())
{
    foreach (var appointment in Model.PastAppointments)
    {
        <div>
            <span>Data: @appointment.AppointmentDateTime.ToString("dd-MM-yyyy HH:mm")</span>
            <span>Lekarz: @appointment.Doctor.UserName</span>
        </div>
    }
}
else
{
    <p>Brak przeszłych wizyt.</p>
}



<h3>Nadchodzące Wizyty</h3>
@if (Model.UpcomingAppointments.Any())
{
    foreach (var appointment in Model.UpcomingAppointments)
    {
        <div>
            <span>Data: @appointment.AppointmentDateTime.ToString("dd-MM-yyyy HH:mm")</span>
            <span>Lekarz: @appointment.Doctor.UserName</span>
            <form method="post" asp-page-handler="CancelAppointment" asp-route-appointmentId="@appointment.AppointmentId">
                <button type="submit" class="btn btn-warning">Odwołaj</button>
            </form>
        </div>
    }
}
else
{
    <p>Brak nadchodzących wizyt.</p>
}




<h3>Umów Wizytę</h3>
<a asp-page="/AvailableDoctors" class="btn btn-primary">Wybierz lekarza</a>

@*
<h3>Twoje Opinie</h3>
@if (Model.Reviews.Any())
{
    foreach (var review in Model.Reviews)
    {
        <div>
            <span>Lekarz: @review.DoctorName</span>
            <span>Ocena: @review.Rating</span><br/>
            Komentarz: @review.Comment
        </div>
    }
}
else
{
    <p>Brak wystawionych opinii.</p>
}
*@
